<header class="header">
	<div class="header__top">
    <div class="header__top-item">
      <img src="/icons/logo.svg" alt="Логотип ЕвроТехИмпорт">
    </div>
    <div class="header__top-item header__top-item--contact">
      <div class="header__contact">
        <span>Восточная часть РФ</span>
        <a href="https://wa.me/380666666666" class="header__phone">
          <img src="/icons/whatsapp.svg" alt="WhatsApp" class="header__phone-icon" />+380 66 666 6666
        </a>
      </div>
    </div>
    <div class="header__top-item header__top-item--info">
      <div class="header__work-time">
        <span class="header__timer">Закроемся&nbsp;через <strong>3&nbsp;часа&nbsp;20&nbsp;минут</strong></span>
        <span class="header__schedule">ПН-ПТ&nbsp;с&nbsp;8:30&nbsp;до&nbsp;18:00, СБ&nbsp;с&nbsp;10:00&nbsp;до&nbsp;15:00;</span>
      </div>
      <div class="header__action">
        <button class="btn btn-primary btn-lg">Заказать звонок</button>
      </div>
    </div>
	</div>
	<div class="header__bottom">
    <div class="header__nav" id="nav-scroll">
      <nav class="nav">
        <a href="#" class="nav__link btn btn-outline btn-outline-secondary">Каталоги запчастей</a>
        <a href="#" class="nav__link btn btn-outline btn-outline-secondary">О нас</a>
        <a href="#" class="nav__link btn btn-outline btn-outline-secondary">Условия доставки</a>
        <a href="#" class="nav__link btn btn-outline btn-outline-secondary">Условия возврата</a>
        <a href="#" class="nav__link btn btn-outline btn-outline-secondary">Контакты</a>
      </nav>
    </div>
    <button class="garage-btn">
      <img src="/icons/truck.svg" alt="Гараж" class="garage-btn__icon" />
      <div class="garage-btn__label">
        <svg width="10" height="10" viewBox="0 0 10 10" fill="none">
          <path d="M5.04492 5V0.5M5.04492 5V9.5M5.04492 5H0.544922M5.04492 5H9.54492" stroke="currentColor"/>
        </svg>
        Добавить&nbsp;авто в&nbsp;гараж</div>
    </button>
    <a class="btn btn-cart btn-outline btn-outline-secondary btn-3lg" href="#">
      <svg width="20" height="21" viewBox="0 0 20 21" fill="none">
        <path d="M7.07031 17.5312C7.07031 18.5005 7.85885 19.289 8.8281 19.289C9.79734 19.289 10.5859 18.5005 10.5859 17.5312C10.5859 16.562 9.79734 15.7734 8.8281 15.7734C7.85885 15.7734 7.07031 16.562 7.07031 17.5312ZM8.8281 16.9453C9.15118 16.9453 9.41403 17.2081 9.41403 17.5312C9.41403 17.8543 9.15118 18.1172 8.8281 18.1172C8.50502 18.1172 8.24217 17.8543 8.24217 17.5312C8.24217 17.2081 8.50502 16.9453 8.8281 16.9453Z" fill="currentColor"/>
        <path d="M12.9688 17.5312C12.9688 18.5005 13.7573 19.289 14.7265 19.289C15.6958 19.289 16.4843 18.5005 16.4843 17.5312C16.4843 16.562 15.6958 15.7734 14.7265 15.7734C13.7573 15.7734 12.9688 16.562 12.9688 17.5312ZM14.7265 16.9453C15.0496 16.9453 15.3125 17.2081 15.3125 17.5312C15.3125 17.8543 15.0496 18.1172 14.7265 18.1172C14.4035 18.1172 14.1406 17.8543 14.1406 17.5312C14.1406 17.2081 14.4035 16.9453 14.7265 16.9453Z" fill="currentColor"/>
        <path d="M19.4138 4.05489H4.58262C4.382 3.3526 4.19505 2.69824 4.03447 2.13617C3.96263 1.88462 3.73268 1.71118 3.47108 1.71118H0.585928C0.26234 1.71118 0 1.97352 0 2.29711C0 2.6207 0.26234 2.88304 0.585928 2.88304H3.02909C3.68432 5.1766 5.21609 10.538 5.85827 12.7856L5.63628 13.2296C5.05133 14.3996 5.90323 15.7735 7.20852 15.7735H17.07C17.3936 15.7735 17.656 15.5111 17.656 15.1875C17.656 14.8639 17.3936 14.6016 17.07 14.6016H7.20852C6.77275 14.6016 6.48974 14.1431 6.68443 13.7536L6.84638 13.4297H17.07C17.3316 13.4297 17.5616 13.2564 17.6334 13.0048L19.9771 4.8018C20.0839 4.42817 19.8032 4.05489 19.4138 4.05489ZM16.6281 12.2579H6.92626C6.60701 11.1404 5.7135 8.01323 4.91742 5.22675H18.637L16.6281 12.2579Z" fill="currentColor"/>
      </svg>
      Товаров в корзине:&nbsp;(0)
    </a>
  </div>
</header>
<div class="header-mobile">
  <div class="header-mobile__top">
    <img src="/icons/logo-xs.svg" alt="Логотип ЕвроТехИмпорт">
    <button class="btn btn-primary btn-md">Заказать звонок</button>
  </div>
  <div class="header-mobile__middle">
    <div class="header-mobile__schedule">
      <p>ПН-ПТ с 8:30 до 18:00,</p>
      <p>СБ с 10:00 до 15:00;</p>
    </div>
    <div class="header-mobile__contact">
      <p>Восточная часть РФ</p>
      <a href="https://wa.me/380666666666" class="header-mobile__phone">
        <img src="/icons/whatsapp.svg" alt="WhatsApp" class="header-mobile__phone-icon" />+380 66 666 6666
      </a>
    </div>
  </div>
  <div class="header-mobile__bottom">
    <a href="#" class="header-mobile__catalog-btn btn btn-primary btn-catalog">
      <svg width="34" height="34" viewBox="0 0 34 34" fill="none">
        <path d="M11.8875 19.5003C9.58143 19.5003 7.70532 21.3764 7.70532 23.6825C7.70532 25.9886 9.58143 27.8647 11.8875 27.8647C14.1936 27.8647 16.0697 25.9886 16.0697 23.6825C16.0697 21.3764 14.1935 19.5003 11.8875 19.5003ZM11.8875 26.9349C10.0941 26.9349 8.635 25.4758 8.635 23.6824C8.635 21.889 10.0941 20.4299 11.8875 20.4299C13.6809 20.4299 15.14 21.889 15.14 23.6824C15.14 25.4758 13.6809 26.9349 11.8875 26.9349ZM27.2606 14.4525C26.0476 14.4525 24.7422 14.8417 24.7422 15.6964C24.7422 16.551 26.0476 16.9403 27.2606 16.9403C28.4735 16.9403 29.779 16.551 29.779 15.6964C29.779 14.8417 28.4735 14.4525 27.2606 14.4525ZM27.2606 16.0106C26.4622 16.0106 25.9267 15.8298 25.7296 15.6964C25.9267 15.563 26.4621 15.3821 27.2606 15.3821C28.059 15.3821 28.5944 15.563 28.7916 15.6964C28.5944 15.8298 28.059 16.0106 27.2606 16.0106ZM32.9375 4.66411H31.437C31.3611 4.21155 30.9678 3.86524 30.4939 3.86524H27.4216V2.58061C27.4216 2.32389 27.2135 2.11577 26.9568 2.11577H25.3742C25.1174 2.11577 24.9093 2.32389 24.9093 2.58061V2.87154H23.7916C23.5348 2.87154 23.3267 3.07966 23.3267 3.33638V3.50592H19.4631C18.9353 3.50592 18.5058 3.93537 18.5058 4.4633V5.20466H18.281C18.0243 5.20466 17.8162 5.41277 17.8162 5.6695C17.8162 5.92623 18.0243 6.13434 18.281 6.13434H18.5058V6.20141H17.8323C17.7271 6.20141 17.6416 6.11588 17.6416 6.01069V5.65031C17.6416 5.39358 17.4335 5.18546 17.1768 5.18546C16.92 5.18546 16.7119 5.39358 16.7119 5.65031V6.01069C16.7119 6.62847 17.2145 7.1311 17.8323 7.1311H18.5414C18.6536 7.53525 19.0238 7.83308 19.4631 7.83308H23.3267V8.00215C23.3267 8.25888 23.5348 8.467 23.7915 8.467H24.9093V8.75792C24.9093 9.01465 25.1174 9.22277 25.3741 9.22277H26.9567C27.2134 9.22277 27.4215 9.01465 27.4215 8.75792V7.47369H30.4939C30.9677 7.47369 31.3611 7.12738 31.437 6.67482H32.9375C33.1942 6.67482 33.4023 6.46671 33.4023 6.20998V5.12895C33.4023 4.87223 33.1942 4.66411 32.9375 4.66411ZM21.7198 4.43554V6.90326H21.0425V4.43554H21.7198ZM19.4356 6.87557V4.46323C19.4356 4.44875 19.4487 4.43554 19.4632 4.43554H20.1128V6.90326H19.4632C19.4487 6.90326 19.4356 6.89005 19.4356 6.87557ZM22.6495 6.90326V4.43554H23.3267V6.90326H22.6495ZM24.2564 7.53718V3.80116H24.9093V7.53711L24.2564 7.53718ZM26.492 8.29295H25.8391V3.04546H26.492V8.29295ZM30.5216 6.51618C30.5216 6.53066 30.5084 6.54387 30.4939 6.54387H27.4216V4.79493H30.4939C30.5084 4.79493 30.5216 4.80808 30.5216 4.82262V6.51618ZM32.4727 5.74494H31.4513V5.5938H32.4727V5.74494ZM31.4396 13.7389C30.316 13.3126 28.8318 13.0778 27.2605 13.0778C27.1549 13.0778 27.0499 13.079 26.9451 13.0811V12.8798C26.9451 12.5514 26.818 12.2596 26.5774 12.036L25.4317 10.9714C25.0907 10.6547 24.6138 10.5736 24.1875 10.7594C23.7287 10.9594 23.496 11.3468 23.496 11.9106C23.496 12.0331 23.3964 12.1327 23.2739 12.1327H22.8314C22.7089 12.1327 22.6093 12.0331 22.6093 11.9106V11.1292C22.6093 10.4941 22.0926 9.97741 21.4575 9.97741H18.2599C18.2069 9.97741 18.1235 9.89068 18.0022 9.75833L16.7249 8.36686C16.5235 8.14705 16.2478 7.8461 15.7817 7.8461H12.6451V6.12007H14.9238C15.1805 6.12007 15.3887 5.91195 15.3887 5.65522C15.3887 5.3985 15.1805 5.19038 14.9238 5.19038H12.1855C12.182 5.19038 12.1784 5.19038 12.1749 5.19038H9.43666C9.17993 5.19038 8.97182 5.3985 8.97182 5.65522C8.97182 5.91195 9.17993 6.12007 9.43666 6.12007H11.7154V7.84623H7.42767C6.97923 7.84623 6.58079 8.09771 6.38802 8.50239L6.05691 9.19693C6.01747 9.27974 5.94814 9.32344 5.85643 9.32344H4.60634C3.97129 9.32344 3.45452 9.84008 3.45452 10.4752V13.9494H1.52734V10.6857C1.52734 10.429 1.31923 10.2209 1.0625 10.2209C0.805773 10.2209 0.597656 10.429 0.597656 10.6857V18.1427C0.597656 18.3994 0.805773 18.6076 1.0625 18.6076C1.31923 18.6076 1.52734 18.3994 1.52734 18.1427V14.8791H3.45452V18.3532C3.45452 18.9883 3.97123 19.505 4.60634 19.505H5.337C5.38422 19.6143 5.45169 19.7169 5.5408 19.8061C5.97464 20.24 5.96434 20.7926 5.81002 21.1652C5.65575 21.5377 5.27219 21.9358 4.65873 21.9358C4.12217 21.9358 3.68568 22.3723 3.68568 22.9088V24.4562C3.68568 24.9927 4.12217 25.4292 4.65873 25.4292C5.27219 25.4292 5.65575 25.8273 5.81002 26.1998C5.96434 26.5723 5.97464 27.125 5.54087 27.5588C5.16143 27.9382 5.16143 28.5555 5.54087 28.935L6.63498 30.0291C6.81879 30.2129 7.0631 30.3141 7.32308 30.3141C7.58306 30.3141 7.82744 30.2129 8.01112 30.0291C8.44568 29.5945 8.99838 29.6045 9.37072 29.7587C9.74299 29.9129 10.1408 30.2967 10.1408 30.9112C10.1408 31.4477 10.5773 31.8842 11.1138 31.8842H12.6612C13.1977 31.8842 13.6342 31.4477 13.6342 30.9112C13.6342 30.2977 14.0322 29.9142 14.4048 29.7599C14.7771 29.6056 15.3299 29.5952 15.7638 30.029C15.9476 30.2129 16.1919 30.3141 16.4519 30.3141C16.7118 30.3141 16.9562 30.2129 17.1399 30.029L18.2342 28.9349C18.6135 28.5554 18.6135 27.9381 18.2341 27.5587C17.8003 27.1249 17.8106 26.5723 17.965 26.1997C18.1192 25.8272 18.5028 25.4291 19.1162 25.4291C19.6528 25.4291 20.0893 24.9927 20.0893 24.4561V22.9088C20.0893 22.3722 19.6528 21.9357 19.1162 21.9357C18.6366 21.9357 18.2982 21.6922 18.0994 21.408H21.1188V29.2656C21.1188 30.0478 21.8158 30.743 23.0815 31.2232C24.2051 31.6495 25.6893 31.8843 27.2606 31.8843C28.8319 31.8843 30.316 31.6496 31.4397 31.2232C32.7053 30.743 33.4024 30.0478 33.4024 29.2656V15.6964C33.4023 14.9142 32.7053 14.219 31.4396 13.7389ZM19.1163 22.8654C19.1402 22.8654 19.1597 22.8849 19.1597 22.9088V24.4561C19.1597 24.48 19.1402 24.4995 19.1163 24.4995C18.2199 24.4995 17.4496 25.0146 17.1061 25.844C16.7626 26.6733 16.943 27.5823 17.5769 28.2162C17.5938 28.2331 17.5937 28.2606 17.5769 28.2776L16.4827 29.3717C16.4658 29.3886 16.4382 29.3886 16.4212 29.3717C15.7874 28.7378 14.8784 28.5575 14.049 28.901C13.2197 29.2445 12.7045 30.0148 12.7045 30.9112C12.7045 30.9351 12.6851 30.9545 12.6612 30.9545H11.1138C11.09 30.9545 11.0705 30.9351 11.0705 30.9112C11.0705 30.0139 10.5555 29.2432 9.72652 28.8997C9.44861 28.7847 9.16194 28.7285 8.87945 28.7285C8.31911 28.7285 7.77564 28.9498 7.35376 29.3717C7.33689 29.3885 7.30934 29.3885 7.29234 29.3717L6.19823 28.2776C6.18123 28.2606 6.18123 28.2331 6.19816 28.2162C6.83207 27.5823 7.01243 26.6733 6.66891 25.844C6.32533 25.0146 5.55515 24.4995 4.65873 24.4995C4.63482 24.4995 4.61537 24.48 4.61537 24.4561V22.9088C4.61537 22.8849 4.63482 22.8654 4.65873 22.8654C5.55515 22.8654 6.32539 22.3502 6.66891 21.5209C7.0125 20.6915 6.83214 19.7826 6.19823 19.1486C6.18129 19.1317 6.18136 19.1042 6.19829 19.0873L7.2924 17.9931C7.3094 17.9761 7.33696 17.9762 7.35383 17.9931C7.98781 18.627 8.89678 18.8074 9.72606 18.4638C10.5554 18.1203 11.0706 17.35 11.0706 16.4536C11.0706 16.4297 11.09 16.4102 11.1139 16.4102H12.6613C12.6851 16.4102 12.7046 16.4297 12.7046 16.4536C12.7046 17.35 13.2198 18.1203 14.0491 18.4638C14.8784 18.8073 15.7874 18.627 16.4213 17.9931C16.4383 17.9761 16.4658 17.9762 16.4827 17.9931L17.5769 19.0873C17.5938 19.1042 17.5939 19.1318 17.5769 19.1487C16.943 19.7826 16.7627 20.6916 17.1062 21.5209C17.4496 22.3502 18.2199 22.8654 19.1163 22.8654ZM17.8843 20.4784C17.9213 20.2489 18.0264 20.0139 18.2342 19.8061C18.6135 19.4268 18.6136 18.8094 18.2342 18.43L17.1399 17.3357C16.7605 16.9564 16.1432 16.9566 15.7638 17.3358C15.3301 17.7695 14.7774 17.7594 14.4048 17.605C14.0322 17.4506 13.6342 17.0672 13.6342 16.4537C13.6342 15.9171 13.1977 15.4806 12.6612 15.4806H11.1138C10.5773 15.4806 10.1408 15.9172 10.1408 16.4537C10.1408 17.0672 9.74279 17.4506 9.37025 17.605C8.99771 17.7593 8.44502 17.7696 8.01118 17.3358C7.63187 16.9565 7.01456 16.9564 6.63498 17.3358L5.5408 18.43C5.49552 18.4752 5.45607 18.5241 5.42161 18.5753H4.60634C4.48382 18.5753 4.38421 18.4757 4.38421 18.3532V10.4752C4.38421 10.3527 4.48382 10.2531 4.60634 10.2531H5.85637C6.30481 10.2531 6.70318 10.0016 6.89602 9.5969L7.22713 8.90236C7.26657 8.81961 7.3359 8.77585 7.42761 8.77585H15.7817C15.8347 8.77585 15.9182 8.86258 16.0394 8.99493L17.3168 10.3865C17.5181 10.6062 17.7939 10.9072 18.2599 10.9072H21.4575C21.58 10.9072 21.6796 11.0068 21.6796 11.1292V11.9107C21.6796 12.5457 22.1963 13.0624 22.8314 13.0624H23.2739C23.909 13.0624 24.4257 12.5458 24.4257 11.9107C24.4257 11.6698 24.4816 11.6454 24.559 11.6117C24.645 11.5742 24.7302 11.5888 24.7989 11.6526L25.9445 12.7171C25.9949 12.7639 26.0154 12.811 26.0154 12.8798V13.1286C24.9162 13.2188 23.9024 13.4274 23.0814 13.7389C21.8158 14.219 21.1187 14.9142 21.1187 15.6964V20.4784H17.8843ZM22.0485 19.2105C22.3156 19.392 22.6375 19.5578 23.0111 19.7043V28.1015C22.3895 27.805 22.0485 27.4703 22.0485 27.1881V19.2105ZM27.2606 30.9545C24.0789 30.9545 22.0485 29.9543 22.0485 29.2656V28.6246C22.3324 28.8173 22.6779 28.9924 23.0816 29.1456C24.2051 29.5718 25.6893 29.8066 27.2606 29.8066C28.8319 29.8066 30.3161 29.5719 31.4398 29.1456C31.8435 28.9924 32.189 28.8173 32.4728 28.6246V29.2656C32.4727 29.9543 30.4422 30.9545 27.2606 30.9545ZM23.9408 28.4492V20.0026C24.2462 20.082 24.5682 20.1498 24.9034 20.2057V28.6753C24.5541 28.6113 24.2322 28.5348 23.9408 28.4492ZM25.8331 28.8064V20.3262C26.1472 20.356 26.4689 20.376 26.7957 20.3857V28.8699C26.4602 28.8593 26.1387 28.8376 25.8331 28.8064ZM27.7254 28.8698V20.3857C28.0523 20.376 28.3739 20.356 28.688 20.3262V28.8064C28.3824 28.8376 28.0608 28.8593 27.7254 28.8698ZM29.6177 28.6752V20.2057C29.9529 20.1499 30.2749 20.082 30.5803 20.0026V28.4492C30.2888 28.5348 29.9672 28.6113 29.6177 28.6752ZM31.51 28.1016V19.7044C31.8836 19.5578 32.2055 19.392 32.4727 19.2105V27.1881C32.4727 27.4703 32.1315 27.805 31.51 28.1016ZM27.2606 19.4629C24.0789 19.4629 22.0485 18.4626 22.0485 17.774V17.1329C22.3324 17.3257 22.6779 17.5008 23.0816 17.6539C24.2051 18.0802 25.6893 18.315 27.2606 18.315C28.8319 18.315 30.3161 18.0802 31.4398 17.6539C31.8435 17.5008 32.189 17.3257 32.4728 17.1329V17.774C32.4727 18.4626 30.4422 19.4629 27.2606 19.4629ZM27.2606 17.3853C24.0789 17.3853 22.0485 16.385 22.0485 15.6964C22.0485 15.0077 24.0789 14.0075 27.2606 14.0075C30.4422 14.0075 32.4727 15.0077 32.4727 15.6964C32.4727 16.385 30.4422 17.3853 27.2606 17.3853Z" fill="currentColor"/>
      </svg>
      Каталог товаров
    </a>
    <div class="header-mobile__actions">
      <button class="header-mobile__action-btn btn btn-outline btn-outline-secondary">
        <svg width="30" height="34" viewBox="0 0 30 34" fill="none">
          <g clip-path="url(#clip0_0_3408)">
            <path d="M14.9277 0C9.72767 0 5.34195 0.28475 4.68767 0.663C3.54481 1.04975 2.68481 3.62383 2.68195 6.67817V8.19542H2.37052C2.33932 8.12535 2.29687 8.06076 2.24481 8.00417C2.37926 7.84986 2.45329 7.65276 2.45338 7.44883V6.67817C2.47156 6.49788 2.41794 6.31768 2.30396 6.17607C2.18999 6.03445 2.02469 5.94265 1.84338 5.92025H0.617667C0.435002 5.94229 0.268433 6.03476 0.154004 6.17767C0.0395753 6.32057 -0.0135089 6.50241 0.00623884 6.68383V6.681V7.45167C0.00623884 7.66417 0.0848103 7.85967 0.21481 8.00842L0.213382 8.007C0.0789323 8.16131 0.00490644 8.3584 0.00481027 8.56233V12.3675C0.00290551 12.3892 0.00195312 12.4119 0.00195312 12.4355C0.00195312 12.7897 0.269096 13.0829 0.61481 13.1254H1.84195C1.95687 13.1196 2.06766 13.081 2.16113 13.0145C2.25459 12.9479 2.32678 12.8561 2.3691 12.75L2.37052 12.7457H2.68195V19.5769C2.68195 19.8475 2.97481 20.0982 3.44767 20.2328V21.1197C2.77195 21.2061 2.30481 21.5078 2.30481 21.8535V29.4468C2.25656 30.3879 2.52932 31.3176 3.0791 32.0861L3.07052 32.0733V33.3781C3.07052 33.7223 3.35195 34.0014 3.6991 34.0014H6.26767C6.43438 34.0014 6.59425 33.9357 6.71213 33.8188C6.83001 33.702 6.89624 33.5434 6.89624 33.3781V32.4842H22.9634V33.3781C22.9634 33.7223 23.2448 34.0014 23.592 34.0014H26.1605C26.2431 34.0014 26.3248 33.9853 26.4011 33.954C26.4773 33.9226 26.5466 33.8767 26.605 33.8188C26.6634 33.761 26.7097 33.6922 26.7413 33.6166C26.7728 33.541 26.7891 33.4599 26.7891 33.3781V32.0747C27.3349 31.3063 27.6046 30.3784 27.5548 29.4397V29.4497V21.8563C27.5548 21.5107 27.082 21.2089 26.412 21.1225V20.2357C26.8848 20.1011 27.1762 19.8503 27.1777 19.5798V12.7514H27.4891C27.5748 12.9668 27.7777 13.1183 28.0162 13.1311H29.2377C29.4203 13.109 29.5869 13.0166 29.7013 12.8737C29.8158 12.7308 29.8688 12.5489 29.8491 12.3675V12.3703V8.56517C29.8493 8.36075 29.7753 8.16309 29.6405 8.00842L29.642 8.00983C29.7764 7.85553 29.8504 7.65843 29.8505 7.4545V6.68667C29.8687 6.50638 29.8151 6.32618 29.7011 6.18457C29.5871 6.04295 29.4218 5.95115 29.2405 5.92875H28.0134C27.8307 5.95079 27.6641 6.04326 27.5497 6.18617C27.4353 6.32907 27.3822 6.51091 27.402 6.69233V6.6895V7.46017C27.402 7.67267 27.4805 7.86817 27.6105 8.01692L27.6091 8.0155C27.5596 8.07169 27.5179 8.13408 27.4848 8.20108L27.4834 8.20533H27.172V6.681C27.172 3.61108 26.3034 1.02567 25.152 0.65875C24.452 0.281917 20.0877 0.00283333 14.9277 0.00283333V0ZM4.43052 4.40158H25.4234C25.7934 4.40158 26.102 4.66225 26.1734 5.00933L26.1748 5.01358C26.3205 5.73608 26.4034 6.56767 26.4034 7.41908V7.47292V7.47008V12.75C26.4034 13.1693 26.0605 13.5093 25.6377 13.5093H4.21338C4.0103 13.5093 3.81554 13.4293 3.67194 13.2869C3.52834 13.1445 3.44767 12.9514 3.44767 12.75V7.4205C3.44862 6.56767 3.5291 5.73844 3.6891 4.93283L3.67624 5.01358C3.71065 4.84106 3.80438 4.68574 3.94142 4.57412C4.07846 4.4625 4.25033 4.40152 4.42767 4.40158H4.43052ZM5.36053 21.0984H7.00052C7.20481 21.0984 7.37052 21.2571 7.38195 21.4568V21.4583L7.65481 26.3911V26.4109C7.65481 26.6206 7.48338 26.7906 7.27195 26.7906H5.36053C5.25922 26.7898 5.16227 26.7496 5.09063 26.6786C5.01899 26.6075 4.97842 26.5114 4.97767 26.4109V21.4781C4.97767 21.2684 5.1491 21.0984 5.36053 21.0984ZM22.8534 21.0984H24.4934C24.7048 21.0984 24.8762 21.2684 24.8762 21.4781V26.4067C24.8762 26.6163 24.7048 26.7863 24.4934 26.7863H22.5805C22.4792 26.7856 22.3823 26.7454 22.3106 26.6743C22.239 26.6033 22.1984 26.5071 22.1977 26.4067V26.3854L22.4705 21.454C22.4848 21.2557 22.6505 21.0998 22.852 21.0998L22.8534 21.0984ZM8.61338 22.0051H21.242C21.3477 22.0051 21.4334 22.0901 21.4334 22.1949V22.4216C21.4334 22.5264 21.3477 22.6114 21.242 22.6114H8.61338C8.56261 22.6114 8.51392 22.5914 8.47802 22.5558C8.44212 22.5202 8.42195 22.4719 8.42195 22.4216V22.1949C8.42195 22.0901 8.50767 22.0051 8.61338 22.0051ZM8.6891 23.3707H21.1648C21.2705 23.3707 21.3562 23.4557 21.3562 23.5606V23.7873C21.3562 23.8921 21.2705 23.9771 21.1648 23.9771H8.6891C8.63833 23.9771 8.58963 23.9571 8.55374 23.9215C8.51784 23.8859 8.49767 23.8376 8.49767 23.7873V23.5606C8.49767 23.4557 8.58338 23.3707 8.6891 23.3707ZM8.76624 24.7364H21.0891C21.1948 24.7364 21.2805 24.8214 21.2805 24.9262V25.1529C21.2805 25.2577 21.1948 25.3427 21.0891 25.3427H8.76624C8.71706 25.3428 8.66979 25.3239 8.63435 25.2901C8.59892 25.2563 8.57809 25.2101 8.57624 25.1614V24.9347C8.57624 24.8299 8.66195 24.7449 8.76767 24.7449L8.76624 24.7364ZM8.84338 26.1021H21.012C21.1177 26.1021 21.2034 26.1871 21.2034 26.2919V26.5186C21.2034 26.6234 21.1177 26.7084 21.012 26.7084H8.84338C8.79261 26.7084 8.74392 26.6884 8.70802 26.6528C8.67212 26.6172 8.65195 26.5689 8.65195 26.5186V26.2919C8.65195 26.1871 8.73767 26.1021 8.84338 26.1021Z" fill="currentColor"/>
          </g>
          <defs>
            <clipPath id="clip0_0_3408">
              <rect width="30" height="34" fill="white"/>
            </clipPath>
          </defs>
        </svg>
      </button>
      <a href="#" class="header-mobile__action-btn btn btn-outline btn-outline-secondary">
        <svg width="34" height="34" viewBox="0 0 34 34" fill="none">
          <g clip-path="url(#clip0_0_3411)">
            <g clip-path="url(#clip1_0_3411)">
              <mask id="mask0_0_3411" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="2" y="2" width="30" height="30">
                <path d="M32 2H2V32H32V2Z" fill="white"/>
              </mask>
              <g mask="url(#mask0_0_3411)">
                <path d="M12.6055 27.5466C12.6055 29.0004 13.7883 30.1833 15.2422 30.1833C16.696 30.1833 17.8789 29.0004 17.8789 27.5466C17.8789 26.0928 16.696 24.9099 15.2422 24.9099C13.7883 24.9099 12.6055 26.0928 12.6055 27.5466ZM15.2422 26.6678C15.7268 26.6678 16.121 27.062 16.121 27.5466C16.121 28.0313 15.7268 28.4255 15.2422 28.4255C14.7575 28.4255 14.3633 28.0313 14.3633 27.5466C14.3633 27.062 14.7575 26.6678 15.2422 26.6678Z" fill="currentColor"/>
                <path d="M21.4531 27.5465C21.4531 29.0003 22.6359 30.1833 24.0898 30.1833C25.5436 30.1833 26.7265 29.0003 26.7265 27.5465C26.7265 26.0927 25.5436 24.9099 24.0898 24.9099C22.6359 24.9099 21.4531 26.0927 21.4531 27.5465ZM24.0898 26.6677C24.5745 26.6677 24.9687 27.0619 24.9687 27.5465C24.9687 28.0312 24.5745 28.4254 24.0898 28.4254C23.6052 28.4254 23.211 28.0312 23.211 27.5465C23.211 27.0619 23.6052 26.6677 24.0898 26.6677Z" fill="currentColor"/>
                <path d="M31.1207 7.33215H8.87393C8.573 6.27872 8.29257 5.29716 8.05171 4.45407C7.94394 4.07673 7.59902 3.81659 7.20662 3.81659H2.87889C2.39351 3.81659 2 4.2101 2 4.69548C2 5.18087 2.39351 5.57438 2.87889 5.57438H6.54363C7.52648 9.0147 9.82414 17.0567 10.7874 20.4282L10.4544 21.0941C9.57699 22.8492 10.8548 24.91 12.8128 24.91H27.605C28.0904 24.91 28.484 24.5165 28.484 24.0311C28.484 23.5457 28.0904 23.1522 27.605 23.1522H12.8128C12.1591 23.1522 11.7346 22.4645 12.0266 21.8802L12.2696 21.3944H27.605C27.9974 21.3944 28.3424 21.1343 28.4501 20.757L31.9657 8.45252C32.1259 7.89207 31.7048 7.33215 31.1207 7.33215ZM26.9422 19.6367H12.3894C11.9105 17.9604 10.5702 13.2697 9.37613 9.08994H29.9555L26.9422 19.6367Z" fill="currentColor"/>
              </g>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_0_3411">
              <rect width="34" height="34" fill="white"/>
            </clipPath>
            <clipPath id="clip1_0_3411">
              <rect width="30" height="30" fill="white" transform="translate(2 2)"/>
            </clipPath>
          </defs>
        </svg>
      </a>
      <a href="#" class="header-mobile__action-btn btn btn-outline btn-outline-secondary">
        <svg width="34" height="19" viewBox="0 0 34 19" fill="none">
          <rect y="0.5" width="34" height="2" rx="1" fill="currentColor"/>
          <rect y="0.5" width="34" height="2" rx="1" fill="currentColor"/>
          <rect y="8.5" width="27" height="2" rx="1" fill="currentColor"/>
          <rect y="8.5" width="27" height="2" rx="1" fill="currentColor"/>
          <rect y="16.5" width="19" height="2" rx="1" fill="currentColor"/>
          <rect y="16.5" width="19" height="2" rx="1" fill="currentColor"/>
        </svg>
      </a>
    </div>
  </div>
</div>