.categories {
    background-color: #f9f9f9;
    padding: 1.25rem;

    &__section {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        &:not(:last-child) {
            margin-bottom: 2.5rem;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.4;
    }
    &__list {
        list-style: none;
    }
    &__item {
        &:not(:last-child) {
            border-bottom: 1px dashed #d4d4d4;
            margin-bottom: 0.625rem;
        }
    }
    &__link {
        display: block;
        padding-bottom: 0.5rem;
        font-size: 0.875rem;
        line-height: 1.4;
    }
}
