{% include 'components/subscribe-mailing.twig' %}
{% include 'components/reviews.twig' %}
<footer class="footer">
	<div class="footer__top">
		<div class="footer__top-item footer__top-item--logo">
			<img src="/icons/logo.svg" alt="Логотип ЕвроТехИмпорт">
		</div>
		<div class="footer__top-item footer__top-item--contacts">
			<div class="footer__contact">
				<p>Восточная часть РФ</p>
				<a href="#" class="font-semibold">+380 66 666 6666</a>
			</div>
			<div class="footer__contact">
				<p>Центральная часть РФ</p>
				<a href="#" class="font-semibold">+380 66 666 6666</a>
			</div>
			<div class="footer__contact">
				<p>Западная часть РФ</p>
				<a href="#" class="font-semibold">+380 66 666 6666</a>
			</div>
		</div>
		<div class="footer__top-item footer__top-item--info">
			<div class="footer__schedule">
				<p>ПН-ПТ&nbsp;с&nbsp;8:30&nbsp;до&nbsp;18:00,</p>
				<p>СБ&nbsp;с&nbsp;10:00&nbsp;до&nbsp;15:00;</p>
			</div>
			<button class="btn btn-primary btn-lg">Заказать звонок</button>
		</div>
	</div>
	<div class="footer__middle">
		<div class="footer__middle-item footer__middle-item--links">
			<div class="footer__middle-title">Покупателям</div>
			<div class="footer__links">
				<a href="#" class="footer__link">О нас</a>
				<a href="#" class="footer__link">Условия возврата</a>
				<a href="#" class="footer__link">Условия доставки</a>
				<a href="#" class="footer__link">Контакты</a>
			</div>
		</div>
		<div class="footer__middle-item footer__middle-item--icons">
			<div class="footer__middle-title">Оплата и доставка</div>
			<div class="footer__icons">
				<img src="/images/pay-del/posh.png" alt="">
				<img src="/images/pay-del/cdek.png" alt="">
				<img src="/images/pay-del/lines.png" alt="">
				<img src="/images/pay-del/besnal.png" alt="">
				<img src="/images/pay-del/sbp.png" alt="">
				<img src="/images/pay-del/mir.png" alt="">
			</div>
		</div>
	</div>
	<div class="footer__bottom">
		<p class="footer__copyright">© ЕвроТехИмпорт - Запчасти для спецтехники в Москве - в наличии и под заказ, доставка по всей России. 2020 - 2024. Магазин запчастей для спец техники.</p>
		<div class="footer__devs">
			<p>Разработано студией</p>
			<img src="/images/everest.svg" alt="Everest LOGO">
		</div>
	</div>
</footer></div></body></html>
