@use "../../utils/mixin" as *;
@use "./components/product-gallery";
@use "./components/product-info";
@use "./components/product-description";
@use "./components/product-specs";
@use "./components/product-compatibility";

.product-page {
    display: flex;
    flex-direction: column;
    gap: 1.5625rem;

    @include min-lg {
        gap: 3.125rem;
    }

    &__top {
        gap: 3.125rem;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 1.875rem;

        @include max-lg {
            display: flex;
            flex-direction: column;
        }
        @include min-lg {
            display: grid;
            grid-template: auto / repeat(2, 1fr);
            align-items: flex-start;
            padding-bottom: 3.75rem;
        }
    }
    &__details {
        gap: 1.875rem;

        @include max-lg {
            display: flex;
            flex-direction: column;
        }
        @include min-lg {
            display: grid;
            grid-template: auto / repeat(2, 1fr);
            gap: 3.75rem;
        }
    }
}
