{% set categories = [
    {
      'title': 'Европейские грузовики',
      'items': [
          {'name': 'Запчасти для Mercedes-Benz грузовые', 'url': '#'},
          {'name': 'Запчасти для MAN грузовые', 'url': '#'},
          {'name': 'Запчасти для SCANIA грузовые', 'url': '#'},
          {'name': 'Запчасти для VOLVO грузовые', 'url': '#'},
          {'name': 'Запчасти для RENAULT грузовые', 'url': '#'},
          {'name': 'Запчасти для DAF грузовые', 'url': '#'},
      ]
    },
    {
      'title': 'Тракторы и спецтехника',
      'items': [
          {'name': 'МКСМ, UNC, DETVAN', 'url': '#'},
          {'name': 'РВД - шланги и рукава высокого давления', 'url': '#'},
          {'name': 'Прочая спецтехника и тракторы', 'url': '#'},
          {'name': 'Тракторы John Deere', 'url': '#'},
          {'name': 'Спецтехника Caterpillar', 'url': '#'},
          {'name': 'Грузовые прицепы', 'url': '#'},
          {'name': 'Экскаваторы', 'url': '#'},
          {'name': 'Бульдозеры', 'url': '#'},
          {'name': 'Краны', 'url': '#'},
          {'name': 'Погрузчики', 'url': '#'},
          {'name': 'Самосвалы', 'url': '#'}
      ]
    }
] %}
<div class="categories">
	{% for section in categories %}
		<div class="categories__section">
			<h4 class="categories__title">{{ section.title }}</h4>
			<ul class="categories__list">
				{% for item in section.items|slice(0, 10) %}
					<li class="categories__item">
						<a class="categories__link" href="{{ item.url }}">{{ item.name }}</a>
					</li>
				{% endfor %}
			</ul>
			{% if section.items|length > 10 %}
				<button class="btn-more">
					Показать все
					<svg width="17" height="10" viewbox="0 0 17 10" fill="none">
						<path d="M1 1.25C1.8 2.05 6.33333 6.58333 8.5 8.75L16 1.25" stroke="currentColor"/>
					</svg>
				</button>
			{% endif %}
		</div>
	{% endfor %}
</div>
