<div class="work-time">
	<div class="work-time__head">
		<h5 class="work-time__title">График работы</h5>
		<button class="work-time__close-btn">
			<svg width="30" height="30" viewBox="0 0 30 30" fill="none">
				<path d="M24.0086 6.73642C23.4323 6.15639 22.4949 6.15333 21.9148 6.72961L15.3477 13.254L8.77726 6.68362C8.1992 6.10546 7.26178 6.10546 6.68362 6.68362C6.10546 7.26178 6.10546 8.1991 6.68362 8.77726L13.2471 15.3409L6.73633 21.8093C6.15629 22.3856 6.15333 23.3229 6.72952 23.9029C7.01899 24.1943 7.39927 24.34 7.77984 24.34C8.15706 24.34 8.53447 24.1967 8.82326 23.9098L15.3409 17.4345L21.862 23.9557C22.1511 24.2447 22.53 24.3893 22.9088 24.3893C23.2876 24.3893 23.6666 24.2447 23.9556 23.9557C24.5337 23.3775 24.5337 22.4402 23.9556 21.862L17.4412 15.3477L24.0015 8.82997C24.5817 8.25378 24.5846 7.31646 24.0086 6.73642Z" fill="black"/>
			</svg>
		</button>
	</div>
	<div class="work-time__body">
		<div class="work-time__current">
			<div class="work-status work-status--open">Работаем сейчас</div>
			<div class="work-time__countdown">Закроемся через <span class="_strong">3 часа 20 минут</span></div>
		</div>
		<div class="work-time__schedule">
			<img src="icons/clock.svg" alt="График работы" class="work-time__clock-icon"/>
			<div class="work-time__schedule-info">ПН-ПТ&nbsp;с&nbsp;8:30&nbsp;до&nbsp;18:00, СБ&nbsp;с&nbsp;10:00&nbsp;до&nbsp;15:00;</div>
		</div>
	</div>
	<button class="btn btn-primary btn-3lg">Заказать звонок</button>
</div>