{% include "layouts/head.twig" %}>
{% include 'layouts/MainLayout/header.twig' %}
<div class="sidebar-layout">
	{% include "components/sidebar/index.twig" %}
	<div class="sidebar-layout__main">
		<div class="sidebar-layout__actions">
			<button class="sidebar-layout__categories-btn btn btn-outline btn-outline-secondary btn-md">
				<svg width="34" height="21" viewbox="0 0 34 21" fill="none">
					<rect y="1.5" width="34" height="2" rx="1" fill="currentColor"/>
					<rect y="1.5" width="34" height="2" rx="1" fill="currentColor"/>
					<rect y="9.5" width="34" height="2" rx="1" fill="currentColor"/>
					<rect y="9.5" width="34" height="2" rx="1" fill="currentColor"/>
					<rect y="17.5" width="34" height="2" rx="1" fill="currentColor"/>
					<rect y="17.5" width="34" height="2" rx="1" fill="currentColor"/>
				</svg>
				Меню
			</button>
			{% include 'components/search-input.twig' %}
		</div>
		{% block body %}{% endblock %}
	</div>
</div>
{% block footer_extra %}{% endblock %}
{% include "layouts/footer.twig" %}
