<div class="swiper-slide">
	<div class="slide-catalog-oil">
		<div class="slide-catalog-oil__content">
			<div class="slide-catalog-oil__text">
				<h2 class="slide-catalog-oil__title">Оригинальные фильтра и масла из Европы</h2>
				<p class="slide-catalog-oil__subtitle">Отправка в день заказа, уникальная цена, прямая поставка без посредников</p>
			</div>
			<a href="#" class="btn btn-secondary btn-3lg">Перейти в каталог</a>
		</div>
		<div class="slide-catalog-oil__media">
			<img src="/images/banner/slide-1.png" alt="Масло Castrol">
		</div>
	</div>
</div>