@use "../utils/mixin" as *;

.transport-tabs {
    overflow: hidden;
    border-radius: 0.25rem;
    margin: 2.25rem 0;

    &__header {
        display: flex;
        justify-content: center;
        gap: 1.25rem;
        border: 1px solid #d2d8de;
        border-radius: 0.25rem 0.25rem 0 0;
    }
    &__tab {
        display: flex;
        align-items: center;
        gap: 0.375rem;
        border-bottom: 1px solid transparent;
        padding: 1.75rem 0 0.75rem 0;
        font-weight: 700;
        font-size: 0.75rem;
        color: #1c3d5a;
        transition: border-color 0.1s ease-in-out;

        &--active {
            border-color: #1c3d5a;
        }
    }
    &__panel {
        display: none;

        &--active {
            display: block;
        }
    }
}

.filter-form {
    @include min-md {
        display: flex;
    }

    &__section {
        display: flex;
        flex-direction: column;

        @include min-md {
            flex: 0 1 50%;
        }

        &--left {
            gap: 1.625rem;
            background-color: #f5f5fa;
            padding: 1.625rem 1.125rem;
        }
        &--right {
            gap: 1.25rem;
            border-right: 1px solid #d2d8de;
            border-bottom: 1px solid #d2d8de;
            border-bottom-right-radius: 0.25rem;
            padding: 1.625rem;

            @include max-md {
                border-left: 1px solid #d2d8de;
            }
        }
    }
    &__heading {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;
    }
    &__title-wrapper {
        display: flex;
        align-items: center;
        gap: 0.625rem;
    }
    &__title {
        font-weight: 700;
        font-size: 1.125rem;
        color: #1c3d5a;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 0.875rem;
    }

    &__fields {
        gap: 1rem;

        @include min-sm {
            display: grid;
            grid-template: auto / repeat(2, 1fr);
        }
        @include max-sm {
            display: flex;
            flex-direction: column;
        }
    }

    &__suggestions {
        display: flex;
        flex-wrap: wrap;
        gap: 0.625rem;
    }
    &__suggestion {
        background-color: #f5f5fa;
        border-color: #cad0da;
        padding: 0.625rem 1.25rem;
    }
}

.garage {
    display: flex;
    flex-wrap: wrap;
    gap: 0.875rem;
    border: 1px solid #d2d8de;
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    padding: 1.5rem 1.125rem;
}
.garage-car {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    background-color: #fafafa;
    padding: 0.625rem;

    @include min-lg {
        flex: 0 0 17.5rem;
    }
    @include max-lg {
        flex: 1 1 auto;
    }

    &__is-active {
        display: flex;
        align-items: center;
        gap: 0.375rem;
        font-weight: 500;
        font-size: 0.625rem;
    }

    &__body {
        display: flex;
        align-self: stretch;
        align-items: center;
        gap: 1.25rem;
    }
    &__info {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        gap: 0.625rem;
    }
    &__icon {
        min-width: 2.625rem;
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    &__name {
        font-weight: 600;
        font-size: 0.875rem;
    }
    &__config {
        font-size: 12px;
    }
    &__delete-btn {
        min-width: 2.125rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        border-radius: 0.25rem;
        padding: 0.625rem;
    }
}
