@use "../../../utils/mixin" as *;

.order-req {
    position: relative;
    background-color: #f4f4f4;
    border-radius: 0.25rem;
    padding: 1.25rem;

    @include min-md {
        margin-top: 4.375rem;
        padding: 2.5rem 2.5rem 2.1875rem 2.5rem;
    }

    &__media {
        position: absolute;
        top: -3.875rem;
        right: -12.5rem;

        @include max-md {
            display: none;
        }
        @include min-lg {
            right: -4.8125rem;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include min-md {
            gap: 1.5rem;
        }
    }
    &__heading {
        display: flex;
        flex-direction: column;
        gap: 0.625rem;

        @include min-md {
            gap: 1.5rem;
            padding-right: 10rem;
        }
        @include min-lg {
            padding-right: 20.625rem;
        }
    }
    &__title {
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.3;

        @include min-md {
            font-size: 2.125rem;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.5;
    }
    &__form {
        gap: 1.25rem;

        @include max-md {
            display: flex;
            flex-direction: column;
        }
        @include min-md {
            display: grid;
            grid-template: auto / repeat(2, 1fr);
        }
    }
}
