<div class="availability-info">
  <div class="availability-info__item availability-info__item--tools">
    <img class="availability-info__image availability-info__image--tools" src="images/availability-info/decor-1.png" alt="Товары всегда в наличии"/>
    <div class="availability-info__content">
      <h2 class="availability-info__title">Товары всегда в наличии</h2>
      <p class="availability-info__text">100% наличие - все запчасти представлены на сайте, имеются в наличии на наших складах</p>
    </div>
  </div>
  <div class="availability-info__item availability-info__item--engine">
    <img class="availability-info__image availability-info__image--engine" src="images/availability-info/decor-2.png" alt="Товары всегда в наличии"/>
    <div class="availability-info__content">
      <h2 class="availability-info__title">Товары всегда в наличии</h2>
      <p class="availability-info__text">100% наличие - все запчасти представлены на сайте, имеются в наличии на наших складах</p>
    </div>
  </div>
  <div class="availability-info__item availability-info__item--mechanic">
    <div class="availability-info__content">
      <h2 class="availability-info__title">Товары всегда в наличии</h2>
      <p class="availability-info__text">100% наличие - все запчасти представлены на сайте, имеются в наличии на наших складах</p>
    </div>
    <img class="availability-info__image availability-info__image--mechanic" src="images/availability-info/decor-3.png" alt="Товары всегда в наличии"/>
  </div>
</div>