<div class="product-quantity">
	<button class="product-quantity__btn" data-btn="minus">
		<svg width="20" height="2" viewbox="0 0 20 2" fill="none">
			<line y1="1" x2="20" y2="1" stroke="currentColor"/>
		</svg>
	</button>
	<input class="product-quantity__input" type="text" value="1" disabled>
	<button class="product-quantity__btn" data-btn="plus">
		<svg width="21" height="21" viewbox="0 0 21 21" fill="none">
			<path d="M0.5 10H20.5" stroke="black"/>
			<line x1="10.5" y1="20.5" x2="10.5" y2="0.5" stroke="currentColor"/>
		</svg>
	</button>
</div>
