<section class="heading-section" id="reviews">
	<div class="heading-section__top">
		<h2 class="heading-section__title">Мнения наших клиентов</h2>
		<div class="heading-section__swiper-nav">
			<button class="swiper-button swiper-button-prev">
				<svg width="28" height="29" viewBox="0 0 28 29" fill="none">
					<path d="M27.935 14.5H1.06497M1.06497 14.5L14.5 27.9351M1.06497 14.5L14.5 1.065" stroke="black"/>
				</svg>
			</button>
			<button class="swiper-button swiper-button-next">
				<svg width="28" height="29" viewBox="0 0 28 29" fill="none">
					<path d="M0.0649716 14.5H26.935M26.935 14.5L13.5 27.9351M26.935 14.5L13.5 1.065" stroke="black"/>
				</svg>
			</button>
		</div>
	</div>
	<div class="swiper reviews">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				{% include 'components/review.twig' %}
			</div>
			<div class="swiper-slide">
				{% include 'components/review.twig' %}
			</div>
			<div class="swiper-slide">
				{% include 'components/review.twig' %}
			</div>
			<div class="swiper-slide">
				{% include 'components/review.twig' %}
			</div>
			<div class="swiper-slide">
				{% include 'components/review.twig' %}
			</div>
			<div class="swiper-slide">
				{% include 'components/review.twig' %}
			</div>
			<div class="swiper-slide">
				{% include 'components/review.twig' %}
			</div>
			<div class="swiper-slide">
				{% include 'components/review.twig' %}
			</div>
		</div>
	</div>
</section>