<div class="review">
	<div class="review__head">
		<div class="review__stars">
			<img class="review__star" src="/icons/star.svg" alt="1" width="20" height="20">
			<img class="review__star" src="/icons/star.svg" alt="2" width="20" height="20">
			<img class="review__star" src="/icons/star.svg" alt="3" width="20" height="20">
			<img class="review__star" src="/icons/star.svg" alt="4" width="20" height="20">
			<img class="review__star" src="/icons/star.svg" alt="5" width="20" height="20">
		</div>
		<div class="review__date">11.06.2024</div>
	</div>
	<p class="review__text">Отправка в день заказа, уникальная цена, прямая поставка без посредников Отправка в день заказа, уникальная цена, прямая поставка без посредников</p>
</div>