<div class="subscribe-mailing">
  <img class="subscribe-mailing__media" src="/images/subscribe.png"/>
	<div class="subscribe-mailing__main">
		<div class="subscribe-mailing__content">
			<h3 class="subscribe-mailing__title">Подпишитесь на рассылку</h3>
			<p class="subscribe-mailing__text">Узнавайте о новых поставках первым</p>
		</div>
		<form class="subscribe-mailing__form">
			<input type="email" class="subscribe-mailing__input" placeholder="Электронная почта">
			<button class="subscribe-mailing__submit btn btn-secondary btn-3lg">Подписаться</button>
		</form>
	</div>
</div>